
<%- include('include/head')%>
<%- include('include/nav')%>
  
<div class="container">
  <div class="row">

    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-3">
      <h1 class=" text-center">Olá <%- user.email %> </h1>
      <%- include('include/message') %>

      <div class="text-center mt-15">
        <a href="/" class="btn btn-primary">Ir para a Agenda <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
        </svg></a>
      </div>
    
   </div>

    <div class="col-lg-2"></div>

  </div>
</div>


<%- include('include/footer')%>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
  